# https://docs.npmjs.com/cli/v6/configuring-npm/npmrc
# https://docs.npmjs.com/cli/v7/configuring-npm/npmrc

loglevel=verbose
strict-ssl=false
audit=false

# registry=https://registry.npm.taobao.org
registry=https://registry.npmjs.org/ #npm publish --access public

# runtime = electron
# target = 8.2.5

pc_nrfjprog-js_binary_host_mirror=https://focus-resource.oss-cn-beijing.aliyuncs.com/universal/node-prebuild/pc-nrfjprog-js/
